<div
  class="person-display"
  data-first-name="{{ person.first_name }}"
  data-last-name="{{ person.last_name }}"
  data-full-name="{{ person.first_name }} {{ person.last_name }}"
  data-position="{{ person.position }}"
  data-expertise="{{ person.expertise | default: '' }}"
  data-expertise-raw="{{ person.expertise | default: '' }}"
>
  <a href="https://staffportal.curtin.edu.au/staff/profile/view/{{person.name_with_seo_suffix}}">
    <img 
      src="{% if person.image %}{{ person.image }}{% else %}/assets/images/default-avatar.jpg{% endif %}"
      onerror="this.src='/assets/images/default-avatar.jpg';"
    >
    </img>
  </a>

  <a href="https://staffportal.curtin.edu.au/staff/profile/view/{{person.name_with_seo_suffix}}" class="person-name">
    {{ person.first_name }} {{ person.last_name }}
  </a>

  <p>{{ person.position }}</p>

  <div class="match-snippet">
    <span class="match-name"></span>
    <span class="match-expertise"></span>
  </div>

  {% if person.expertise != null %}
    <p class="expertise-string">{{ person.expertise }}</p>
    <p class="expertise-snippet">
      <span class="expertise-underline">Expertise:</span>
      <span> </span>
      <span class="expertise-snippet-left"></span>
      <span class="expertise-snippet-middle"></span>
      <span class="expertise-snippet-right"></span>
    </p>
  {% endif %}
</div>
