/* ##### MAIN PAGE ##### */

/* Main Page Images */ 
.feature__wrapper .archive__item-teaser {
    aspect-ratio: 16 / 10;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .feature__wrapper .archive__item-teaser img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
  }
  
  .feature__wrapper .archive__item-teaser img:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }