/* ##### MAIN PAGE ##### */

/* Main Page Image Dimentions */ 
.feature__wrapper .archive__item-teaser {
  aspect-ratio: 16 / 10;
  overflow: hidden;
  border-radius: 8px;
}

.feature__wrapper .archive__item-teaser img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.feature__wrapper .archive__item-teaser img:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Feature item hover glow */
.feature__item {
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.feature__item:hover img {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

/* Title hover underline + color change */
.feature__item h2.archive__item-title {
    position: relative;
    display: inline-block;
}

h2.archive__item-title:hover {
  color: #0091ff;
}

.feature__item:hover h2.archive__item-title {
  text-decoration: underline #000000;
}

.feature__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.page__hero--overlay .wrapper {
  text-align: center;
}

.page__hero--overlay .page__title,
.page__hero--overlay .page__lead {
  display: inline-block;
  margin: 0 auto;
  text-shadow: 3px 3px 10px #000000cc;
}


.page__hero--overlay .page__lead {
    padding-top: 8px;
}